name: "DEV DEPLOY"

on:
  push:
    branches:
      - develop

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      EC2_HOST: ${{ secrets.EC2_HOST }}
      EC2_USER: ${{ secrets.EC2_USER }}
      EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
    with:
      environment: dev
      aws-assume-role-arn: "arn:aws:iam::368453405930:role/projeto-node-ec2-vpc"
      aws-region: "us-east-1"
      aws-statefile-s3-bucket: "ramonriserio-us-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "ramonriserio-us-east-1-terraform-lock"