name: "Terraform Workflow"

on:
  workflow_call:
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
      EC2_HOST:
        required: true
      EC2_USER:
        required: true
      EC2_SSH_KEY:
        required: true
    inputs:
      environment:
        type: string
        required: true
      aws-assume-role-arn:
        type: string
        required: true
      aws-region:
        type: string
        required: true
      aws-statefile-s3-bucket:
        type: string
        required: true
      aws-lock-dynamodb-table:
        type: string
        required: true

jobs:
  terraform:
    runs-on: ubuntu-24.04       # Ubuntu 24.04 LTS
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.aws-assume-role-arn }}
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ inputs.aws-region }}

      - name: Read destroy configuration
        id: read-destroy-config
        run: |
          DESTROY="$(jq -r '.${{ inputs.environment }}' ./infra/destroy_config.json)"
          echo "destroy=$(echo $DESTROY)" >> $GITHUB_OUTPUT

      - name: Terraform Init
        run: |
          cd infra && terraform init \
            -backend-config="bucket=${{ inputs.aws-statefile-s3-bucket }}" \
            -backend-config="key=${{ github.event.repository.name }}" \
            -backend-config="region=${{ inputs.aws-region }}" \
            -backend-config="dynamodb_table=${{ inputs.aws-lock-dynamodb-table }}"

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Destroy
        if: steps.read-destroy-config.outputs.destroy == 'true'
        id: terraform-destroy
        run: cd infra &&
          terraform workspace select ${{ inputs.environment }} || terraform workspace new ${{ inputs.environment }} &&
          terraform destroy -var-file="./envs/${{ inputs.environment }}/terraform.tfvars" -auto-approve

      - name: Terraform Plan
        if: steps.read-destroy-config.outputs.destroy != 'true'
        id: terraform-plan
        run: cd infra &&
          terraform workspace select ${{ inputs.environment }} || terraform workspace new ${{ inputs.environment }} &&
          terraform plan -var-file="./envs/${{ inputs.environment }}/terraform.tfvars" -out="${{ inputs.environment }}.plan"

      - name: Terraform Apply
        if: steps.read-destroy-config.outputs.destroy != 'true'
        id: terraform-apply
        run: cd infra &&
          terraform workspace select ${{ inputs.environment }} || terraform workspace new ${{ inputs.environment }} &&
          terraform apply "${{ inputs.environment }}.plan"

      - name: Wait for instance startup
        if: steps.read-destroy-config.outputs.destroy != 'true'
        run: |
          echo "⏳ Waiting 90s for instance and app startup..."
          sleep 90

      - name: Fetch Public IP
        if: steps.read-destroy-config.outputs.destroy != 'true'
        id: ec2_ip
        run: cd infra &&
          PUBLIC_IP=$(terraform output -raw public_ip) &&
          echo "public_ip=$PUBLIC_IP" >> $GITHUB_OUTPUT

      - name: Set up Node.js
        if: steps.read-destroy-config.outputs.destroy != 'true'
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        if: steps.read-destroy-config.outputs.destroy != 'true'
        run: npm install

      - name: Build Docker image
        if: steps.read-destroy-config.outputs.destroy != 'true'
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/projeto-node-app:latest .

      - name: Login to Docker Hub
        if: steps.read-destroy-config.outputs.destroy != 'true'
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push image to Docker Hub
        if: steps.read-destroy-config.outputs.destroy != 'true'
        run: docker push ${{ secrets.DOCKER_USERNAME }}/projeto-node-app:latest

      - name: ✅ Done
        if: steps.read-destroy-config.outputs.destroy != 'true'
        run: echo "Image pushed to Docker Hub!"

      - name: Deploy to EC2 via SSH
        if: steps.read-destroy-config.outputs.destroy != 'true'
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/projeto-node-app:latest
            docker stop myapp || true && docker rm myapp || true
            docker run -d --name myapp -p 80:3000 ${{ secrets.DOCKER_USERNAME }}/projeto-node-app:latest